@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-calculadora {
    border-radius: 10px;
    background-color:  rgba(128, 128, 128, .3);
}

.btn-calculadora:hover {
    background-color:  rgba(128, 128, 128, .4);
}