:root {
    --fundo-Principal: #1E2019;
    --fundo-btn: #394032;
    --btn-primario: #2D2D2D;
    --btn-secundario: #3C3C3C; 
    --btn-acao: #F2A900;
    --btn-ativo: #D94F00;
    --txt-icone:#EAEAEA ;
    --mindaro:#CFEE9E;
    --olivine: #8DAB7F;
    --myrtile-green:#587B7F;
}